@page "/appStoreLauncher"
@using MauiBlazorToolkit.Essentials

<h3>AppStoreLauncher</h3>

<div class="mb-2">
    <button @onclick="Launcher">Launch NetEaseCloudMusic AppStore App Detail</button>
</div>
@code {

#if WINDOWS
    string NetEaseCloudMusicAppId = "9NBLGGH6G0JF";
#elif IOS || MACCATALYST
    string NetEaseCloudMusicAppId = "590338362";
#else
    string NetEaseCloudMusicAppId = "com.netease.cloudmusic";
#endif

    void Launcher()
    {
        AppStoreLauncher.TryOpenAsync(NetEaseCloudMusicAppId);
    }
}
