@page "/webViewSoftInputPatch"

<div style="height:80vh;display:flex;flex-direction:column;">
    <h3>PageWebViewSoftInputPatch</h3>
    <div style="flex-grow:1;"></div>
    <input type="text" placeholder="Click Me" />
</div>

<div style="position:fixed;bottom:0px;">
    Bottom of page
</div>
